html {
    scroll-behavior: smooth;    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {    
    display: flex;
    justify-content: center;
    flex-direction: column;      
    background: url('../images/img-bg.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.preload * {
    transition: -webkit-transition none !important;
    transition: -moz-transition none !important;
    transition: -ms-transition none !important;
    transition: -o-transition none !important;
}
.paragraph {
    color: #fff;
    font-family: monospace;
    font-size: 20px; 
    font-weight: 100;
    letter-spacing: 0.10em;
    line-height: 1.6;
}


.logo {
    width: 50px;
    height: 50px;
}

.nav {
    top: 0;        
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: #596a72;
    font-family: Helvetica, sans-serif, Arial;
    transition: top 0.3s;         
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.nav-links li {
    list-style: none;
}

.burger{
    display: none;
}

.burger div {
    width : 25px;
    height : 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.container-typewriter {    
    display: flex;
    align-items: center;
    justify-content: center;        
    margin: 80px auto; /* top and bottom 20 px, right and left auto */        
}

.typewriter h1 {
    
    color: #fff;
    font-size: 25px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 100px auto auto auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:     
        typing 3.5s steps(30, end) ,
        blink-caret .5s step-end infinite;                
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% 
        }
    
}
    
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: orange}
}

#intro p {
   padding: 120px 80px;
   text-align: center;
}

#intro p:first-letter {    
    margin:3px;
    color:rgb(226, 220, 220);
    font-size:200%;
    line-height: 2;
}

#intro img {
    /* width: 500px; */
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* future proofing */
    -khtml-border-radius: 100px; /* for old Konqueror browsers */
}

.profile-desc {
    margin-left: 60px;
}

#blog a {
    color: yellowgreen;
    font-family: helvetica;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  
#blog a:hover {
    text-decoration: underline;
  }
  
#blog  a:active {
    color: yellowgreen;
  }
  
#blog  a:visited {
    color: yellowgreen;
  }

.container {
    /* background-color: tomato;  */
    display: flex;
    justify-content: center;   
    align-items: center; 
    margin-top: 100px;
    flex-wrap: wrap;
}

.blog {
    display: flex;        
    align-items: center;
    flex-wrap: wrap;
    letter-spacing: 0.10em;
    line-height: 1.2;   
    padding: 20px 80px;
    text-align: center;    
}

.blog-link {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;     
    letter-spacing: 0.10em;
    line-height: 1.2;   
    padding: 20px 80px;
    text-align: center;
}

.aboutme p {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;     
    letter-spacing: 0.10em;
    line-height: 1.2;   
    padding: 20px 80px;
    text-align: center;
}

 .aboutme {
    display: flex;        
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;          
 }

 .aboutme div {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;     
 }

.answer {
    color: yellowgreen;
    font-size: larger;
}

.footer {
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 100%;
}

.contact-links {    
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-links span {
    padding: 30px;        
}

.contact-links span:hover{
    color:#e5e5e5;
    -webkit-transform: scale(1.3);
   -moz-transform: scale(1.3);
   -ms-transform: scale(1.3);
   -o-transform: scale(1.3);
   transform: scale(1.3); 
   transition: transform 0.5s ease-out;
   
}


.project-img1 {
    background-image: url(../images/project-img1.jpg);
}
.project-img2 {
    background-image: url(../images/project-img2.jpg);
}
.project-img3 {
    background-image: url(../images/project-img3.jpg);
}

.headings-font h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: rgb(241, 247, 241);
    text-align: center;
    margin-bottom: 30px;
    
}

.skills-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-display h1{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 6em;
    height: 5em;
    margin: 2em;
    background: rgb(209, 203, 184);
    display: flex;    
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 55px rgba(0, 0, 0, 0.21), 0 16px 28px rgba(0, 0, 0, 0.22);
    border: 1px solid #eee;    
    border-radius: 5px;
}

.skills-card div:hover {
    background: rgb(224, 216, 189);
    transform: scale(1.3);
    transition: all .2s ease-in-out;
}

.card p {
    text-align: center;
    font-size: large;
    font-family: monospace;
    color: #000;
}

.skills-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Projects box animation starts here */
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container-projects{
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.front,
.back{
background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
background: #cedce7;
background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container-projects:hover .front,
.container-projects:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;    
}

.container-projects .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container-projects .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container-projects:hover .back{
-webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.container-projects:hover .front{
-webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.front .inner p{
font-size: 2rem;
margin-bottom: 2rem;
position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
color: rgba(255,255,255,0.7);
font-family: 'Montserrat';
font-weight: 300;
}

.back .inner a {
    color: #fff;
    font-family: monospace;
    font-weight: 300;
    text-decoration: none;
}

@media screen and (max-width: 64rem){
.col{
    width: calc(33.333333% - 2rem);
}
}

@media screen and (max-width: 48rem){
.col{
    width: calc(50% - 2rem);
}
}

@media screen and (max-width: 32rem){
.col{
    width: 100%;
    margin: 0 0 2rem 0;
}
}

/* Projects box animation ends here */

@media screen and (max-width: 1300px) {
    .nav-links {
        display: flex;        
        justify-content: space-around;
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right : 0px;
        height: 92vh;
        top: 8vh;
        background-color: #596a72;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }    

    .typewriter h1 {        
        font-size: 13px;
    }

    .profile-desc {
        margin-left: auto;
    }

    .aboutme img {
        width: 100%;
        
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to { 
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, 6px);
}